html { 
  background: url(https://biblemegasite.com/images/paper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {font-family: Lato !important;}
* {line-height: 150% !important;}

a center font {
    font-size: 25px;
}

font center font {
    font-size: 19px;
}

td center a {
    font-size: 19px;
}
